--find-links https://download.pytorch.org/whl/cu111
torch
--find-links https://download.pytorch.org/whl/cu111
torchvision
--find-links https://download.pytorch.org/whl/cu111
torchaudio
matplotlib
numpy
numpyencoder
pandas
pytorch_lightning
scikit-learn
scipy
progressbar
transformers
huggingface_hub
swifter
tqdm
waitress
omegaconf
hydra
wandb